body{
  background-image: url('img/bg.png');
  font-family: Roboto;
background-color: #e0e0e0;
}
.sloading{
animation: Asloading 5s  linear infinite;
}
@keyframes Asloading{
  0%  {transform: rotate(0deg);}
  100%  {transform:  rotate(360deg);}
}
.ZeroTo100{
animation: AZeroTo100 3s  linear ;
  animation-fill-mode: forwards;
}
@keyframes AZeroTo100{
  0%  {width: 0%;}
  100%  {width: 100%;}
}
.text1{
  font-family: Roboto;
  font-size: 22px;
  font-weight: bold;
  color:#565656;
}
.loading-bg{
  width: 280px;
  height: 20px;
  background-color: #e8e8e8;
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: #d82413;
  overflow: hidden;
  text-align: left;
}

.loading{
  width: 0%;
  height: 20px;
  background-color: #d82413;
}
.card-box{
  margin-top:100px;
  width:2px;
  height: 480px;
    position: relative;
}
.card1{
  width:200px;
  position: absolute;
left:-300px;
transform: rotate(-10deg);
opacity: 0.9;
z-index: 1;
top:100px;
}
.card1-Animation{
animation: Card1-Animation 5s  linear infinite;
}
@keyframes Card1-Animation{
  0%  {
    width:200px;
    position: absolute;
  left:-300px;
  transform: rotate(-10deg);
  opacity: 0.9;
  z-index: 1;
  top:100px;
  }   13%  {
      width:200px;
      position: absolute;
    left:-300px;
    transform: rotate(-10deg);
    opacity: 0.9;
    z-index: 1;
    top:100px;
    }  30%  {
    width: 200px;
    position: absolute;
  left:100px;
  transform: rotate(10deg);
  opacity: 0.9;
  z-index: 1;
  top:100px;
    }
    43%  {
    width: 200px;
    position: absolute;
  left:100px;
  transform: rotate(10deg);
  opacity: 0.9;
  z-index: 1;
  top:100px;
    }
60%  {
  transform: rotate(0deg);
  width: 272px;
  position: absolute;
  left: -136px;
  top:25px;
  z-index: 2;
  top:0px;
  opacity: 1;
}
73%  {
  transform: rotate(0deg);
  width: 272px;
  position: absolute;
  left: -136px;
  top:25px;
  z-index: 2;
  top:0px;
  opacity: 1;
}
  }


.card2{
  transform: rotate(0deg);
  width: 272px;
  position: absolute;
  left: -136px;
  top:25px;
  z-index: 2;
  top:0px;
   opacity: 1;
}
.card2-Animation{
animation: Card2-Animation 5s  linear infinite;
}
@keyframes Card2-Animation{
  0%  {
    transform: rotate(0deg);
    width: 272px;
    position: absolute;
    left: -136px;
    top:25px;
    z-index: 2;
    top:0px;
     opacity: 1;
  }
  13%  {
    transform: rotate(0deg);
    width: 272px;
    position: absolute;
    left: -136px;
    top:25px;
    z-index: 2;
    top:0px;
     opacity: 1;
  }
  30%  {
    width:200px;
    position: absolute;
  left:-300px;
  transform: rotate(-10deg);
  opacity: 0.9;
  z-index: 1;
  top:100px;
    }
    43%  {
      width:200px;
      position: absolute;
    left:-300px;
    transform: rotate(-10deg);
    opacity: 0.9;
    z-index: 1;
    top:100px;
      }

    60%  {
      width: 200px;
      position: absolute;
    left:100px;
    transform: rotate(10deg);
    opacity: 0.9;
    z-index: 1;
    top:100px;
     }
     73%  {
       width: 200px;
       position: absolute;
     left:100px;
     transform: rotate(10deg);
     opacity: 0.9;
     z-index: 1;
     top:100px;
      }
}

.card3{
  width: 200px;
  position: absolute;
left:100px;
transform: rotate(10deg);
opacity: 0.9;
z-index: 1;
top:100px;
}
.card3-Animation{
animation: Card3-Animation 5s  linear infinite;
}
@keyframes Card3-Animation{
  0%  {
    width: 200px;
    position: absolute;
  left:100px;
  transform: rotate(10deg);
  opacity: 0.9;
  z-index: 1;
  top:100px;
  }
  13%  {
    width: 200px;
    position: absolute;
  left:100px;
  transform: rotate(10deg);
  opacity: 0.9;
  z-index: 1;
  top:100px;
  }

  30%  {
    transform: rotate(0deg);
    width: 272px;
    position: absolute;
    left: -136px;
    top:25px;
    z-index: 2;
    top:0px;
    opacity: 1;
    }
    43%  {
      transform: rotate(0deg);
      width: 272px;
      position: absolute;
      left: -136px;
      top:25px;
      z-index: 2;
      top:0px;
      opacity: 1;
      }
      60%  {
        width:200px;
        position: absolute;
      left:-300px;
      transform: rotate(-10deg);
      opacity: 0.9;
      z-index: 1;
      top:100px;


        }
        73%  {
          width:200px;
          position: absolute;
        left:-300px;
        transform: rotate(-10deg);
        opacity: 0.9;
        z-index: 1;
        top:100px;


          }
}
.text-header{
  font-size: 42px;
    line-height: 10%;
    font-weight: bold;
    color: #636363;
}
.bg-content{

  width:100%;
  background-color: #d82413;
  overflow: auto;
  position: relative;
}
.bg-conent-head{
  width:100%;
  height: 100px;
  background-color: #d82413;
  position: relative;
  overflow: hidden;
}
.content-head{
position:absolute;
  top:-370px;
  left:-20px;
  height: 400px;
width:110%;
background-color: #e0e0e0;
transform: rotate(-2deg);
}


.bg-conent-foot{
  width:100%;
  height: 150px;
  background-color: #d82413;
  position: relative;
  overflow: hidden;
}
.content-foot{
position:absolute;
  top:50px;
  left:-20px;
  height: 500px;
width:110%;
background-color: #e0e0e0;
transform: rotate(-2deg);
}
.text-info{
  color: white;
font-size: 26px;
max-width: 450px;
padding: 10px 10px 30px 10px;

}
.readmore{
  color: white;
font-size: 36px;
font-weight: bold;
cursor: pointer;
}
.choose-card-text{
  transform: rotate(
3deg
);
  color: #636363;
  font-size: 32px;
  font-weight: bold;
  margin-top: 50px;
}
.card{
    max-width: 250px;
    width:25%;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}
.footer{
  height: 10px;
      width: 100%;
      background-color: ##d82413;
      margin-top: 0px;
}
.bg-conent-footer{
  width:100%;
  height: 150px;
  background-color: #e0e0e0;
  position: relative;
  overflow: hidden;
}
.content-footer{
position:absolute;
  top:50px;
  left:-20px;
  height: 500px;
width:110%;
background-color: ##d82413;
transform: rotate(-2deg);
}
.img-arrow{
    width: 70px;
    position: absolute;
    z-index: 999;
    margin-left: -35px;
  }
  .UpDown{
  animation: AUpDown 1s  linear infinite;
  }
  @keyframes AUpDown{
    0%  {margin-top:-25px ;}
    50%  {margin-top:-15px ;}
    100%  {margin-top:-25px ;}
  }
.page3{
  top: 0;
  padding-top: 200px;
      z-index: 9999;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #e2e2e2e3;
}
.slide-in-fwd-bottom{animation:slide-in-fwd-bottom .4s cubic-bezier(.25,.46,.45,.94) both}
@keyframes slide-in-fwd-bottom{0%{transform:translateZ(-1400px) translateY(800px);opacity:0}100%{transform:translateZ(0) translateY(0);opacity:1}}

.slide-in-bck-bottom{animation:slide-in-bck-bottom .6s cubic-bezier(.25,.46,.45,.94) both}
@keyframes slide-in-bck-bottom{0%{transform:translateZ(700px) translateY(300px);opacity:0}100%{transform:translateZ(0) translateY(0);opacity:1}}

.code{
  background-color: white;
      position: absolute;
      z-index: 99;
      /* margin-top: -50px; */
      left: 50%;
      width: 300px;
      margin-left: -160px;
      padding: 10px;
      /* bottom: 100px; */
      bottom: 0px;
      font-size: 16px;
      color: #7b7b7b;
}
.gen{
  width:90%;
  max-width: 320px;

  height: 450px;
  background-color: #d82413;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #d82413;
      overflow: hidden;
}
.gen-bar{
  padding:10px 0px 0px 0px;
  color: white;
}

.stepname-step{
  display: inline-table;
  padding: 0 10px 0 0;
  font-weight: bold;
}
.Pro-bg{
  width: 90%;
  max-width: 220px;
  height: 7px;
  background-color: #949393;
  margin-top: 20px;
  position: relative;
  text-align: left;
  }
  .pro-step1{
    position: absolute;
    left: -5px;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    top:-4px;

  }
  .pro-step2{
    width: 15px;
    height: 15px;
    background-color: #949393;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    top:-4px;

  }
  .pro-step3{
    position: absolute;
    right:-5px;
    width: 15px;
    height: 15px;
    background-color: #949393;
    border-radius: 50%;
    top:-4px;

  }
  .pro-bar{
    width: 20px;
    height: 7px;
    background-color: white;
    z-index: 999;
  }
  .A0To50{
    animation: AZeroTo50 7s  linear ;
      animation-fill-mode: forwards;
    }
    @keyframes AZeroTo50{
      0%  {width: 0%;}
      100%  {width: 50%;}
    }
.A50To100{
    animation: A50To100 10s  linear ;
      animation-fill-mode: forwards;
    }
    @keyframes A50To100{
      0%  {width: 50%;}
      100%  {width: 100%;}
    }
.verify-bg{
  padding-top: 10px;
  max-width: 250px;
  width: 95%;
  height: 280px;
  margin-top: 30px;
  border-radius: 20px;
  background-color: #676767;
  }
.verifybutton{
  cursor: pointer;
  padding: 10px;
  max-width: 200px;
  width: 60%;
  background: linear-gradient(to bottom, #33ccff 0%, #1b92e6 100%);
  border-radius: 7px;
  margin-top: 80px;
  border-style: solid;
  border-color: #9c9c9c;
  border-width: 1px;
  box-shadow: 0 0 2px #0fabff;
}
@media only screen and (max-width:680px) {
.card-box{
  transform:scale(0.6);

}
.text-header{
  font-size: 22px;
  margin-bottom: 50px;
}
.choose-card-text{
  font-size: 22px;
}
.img-arrow {
  width: 50px;
  position: absolute;
  z-index: 999;
  margin-left: -25px;
}
.code{
  font-size: 14px;
}
}

@media only screen and (max-width:410px) {
  .card-box{
      margin-top:10px;
    transform:scale(0.4);

  }
  .code{
    font-size: 14px;
  }
}
